.title {
    text-align: center;
    font-family: Sofia;
    color: #FFF89C;
}

body {
    margin: 0;
    background-color: #D75281;
}

header {
    margin: 0 0;
    padding: 15px;
    background-color: #B93160;
    font-size: 30px;
}

.links {
    display: flex;
    margin: 100px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.item {
    margin: 15px;
    text-align: center;
    border: 6px solid #B93160;
}
.item img {
    max-width: 650px;
    height: auto;
    margin: 0 0 -5px 0;
}

.item:hover {
    transform: scale(1.05);
}

.item p {
    margin: -3px;
    padding: 10px;
    background-color: #B93160;
    color: #FFF89C;
    font-size: 40px;
}
